wheel==0.40.0
setuptools==65.5.1
fastapi==0.95.2
uvicorn==0.22.0
python-multipart==0.0.6
pandas>=1.5.3,<2.0.0
numpy>=1.21.0,<1.24.0
tensorflow-cpu>=2.10.0,<2.11.0
tensorflow-probability>=0.18.0,<0.19.0
scipy>=1.9.3,<2.0.0
xarray>=2023.1.0
openpyxl>=3.1.2
python-dateutil>=2.8.2
h5py>=3.8.0
arviz>=0.14.0
pydantic<2.0.0
starlette==0.26.1
typing-extensions>=4.5.0
werkzeug==2.0.3
immutabledict>=2.2.3

--only-binary=:all:
